---
layout: infobar
id: festival
title: Festival Guide for Beginners
permalink: /festival-guide/
---
    <article id="main">
        <header class="special container">
            <h2>Festival Guide</h2>
            <p>Basic information for beginners</p>
        </header>

        <section class="wrapper style4 container">
            <a href="#" class="image featured"><img src="/images/festival.jpg" alt="Festival Guide" /></a>
            <div class="content">
                <p>MAS attends medieval festivals and some charity events. Half the fun of this hobby is sharing it with the general public. We expect our members to try to attend these festivals, as the club gets paid for our participation, this allows our club to replenish arrows, and buy things to increase your enjoyment of our hobby.</p>
            </div>
            <section class="special">
                <ul class="buttons">
                    <li><a href="/join/" class="button small">Join Us</a></li>
                </ul>
            </section>
        </section>
