---
layout: infobar
id: about
title: About MAS
permalink: /about/
---
{% assign alhf = site.data.links.other.links.alhf %}

    <article id="main">
        <header class="special container">
            <h2>About Us</h2>
            <p>What is the Medieval Archery Society?</p>
        </header>

        <section class="wrapper style4 container">
            <div class="content">
                <section>
                    <a href="#" class="image featured"><img src="/images/about.jpg" alt="" /></a>
                    <header>
                        <h3>Medieval Archery Society</h3>
                    </header>
                    <p> The Medieval Archery Society (MAS) is a group of like minded people who primarily portray an English mercenary company (Free Company) in France, circa 1365, based in Sydney, Australia.</p>
                    <p>The main focus of the group is archery, but we have members who have skills in medieval cooking, leatherwork, spinning, black smithing, fletching and foot combat. The group is also interested in archery from other periods of history, and other cultures. The group attends medieval festivals, often running archery for the public. </p>
                </section>
                <section class="logo">
                    <header>
                        <img src="/images/raven.png" alt="" />
                        <h3>Deferimus Corvis</h3>
                    </header>
                    <p>Our motto is Deferimus Corvis, which means "We bring the Ravens"</p>
                </section>
                <section>
                    <header>
                        <h3>Aims</h3>
                    </header>
                    <p><strong>1st Aim:</strong> For the group to as accurately as possible with modern day constraints re-create a Free Company circa 1337-1370. This period has been chosen as it is a “golden age” of English archery, when the rest of the continent (especially the French) are learning what an effective weapon the English Longbow is.</p>

                    <p><em>All members are to have at least a bare minimum kit portraying this era.</em></p>

                    <p><strong>2nd Aim:</strong> Within any historic period there is a large scope for arts, crafts, tooling, costume making, fletching, armouring, blacksmithing etc… MAS believes this should be fostered and is happy to accept any member who is interested in these arts.</p>

                    <p><strong>3rd Aim:</strong> The group also has interest in siege craft, and this can be reflected in research, building and displaying of items that were used for siege craft.</p>

                    <p><strong>4th Aim:</strong> As fighting is an integral part of war in medieval times, combat within the constraints of the rules laid down by the <a href="{{ alhf.url }}" title="{{ alhf.name }}">ALHF</a> will be for those who are interested in participating in this. Please note, the group is primarily an Archery group, melee combat is secondary.</p>
                    </ol>
                </section>
            </div>
        </section>
