<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">
    <!--<section id="slider">
    <figure>
        <img src="/images/slider/group1.jpg" alt />
        <img src="/images/slider/group2.jpg" alt />
        <img src="/images/slider/group3.jpg" alt />
-->
        {% include header.html %}
        {% include banner.html %}
   <!-- </figure>
    </section>-->

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
